/* -----------Proma--------------- */

/* Tour Offer */
.tour-details .details{
    line-height: 30px;
}
.action button{
    margin-top: 20px;
}
.custom-tour-button a{
    color: black;
}
/* Tour Offer */

/* -----------Proma--------------- */